<!-- 메뉴바 -->
<p-breadcrumb [model]="mainMenu.getBreadItems()"></p-breadcrumb>

<!-- Tabs -->
<div class="ui-g">
  <div class="ui-sm-12 ui-md-12 ui-lg-12 ui-g-nopad">
    <h3 style="font-weight: bolder;">
      <i class="pi pi-circle-off" aria-hidden="true"></i>&nbsp; {{ 'designGuide.scheView.scheTitle' | translate }}
    </h3>
  </div>
</div>

<p-fullCalendar #calendar [events]="events" [options]="options"></p-fullCalendar>

<div class="ui-g">
  <div class="ui-sm-12 ui-md-12 ui-lg-12 ui-g-nopad">
    <br>
  </div>
</div>
