<!-- 메뉴바 -->
<p-breadcrumb [model]="mainMenu.getBreadItems()"></p-breadcrumb>

<!-- Tabs -->
<div class="ui-g">
  <div class="ui-g-12 ui-g-nopad">
    <h3 style="font-weight: bolder;">
      <i class="pi pi-circle-off" aria-hidden="true"></i>&nbsp; {{ 'designGuide.scheView.scheTitle' | translate }}
    </h3>
  </div>
</div>

<p-schedule [events]="events" [locale]="mainMenu.getLanguage()" [header]="headerConfig"></p-schedule>

<div class="ui-g">
  <div class="ui-g-12 ui-g-nopad">
    <br>
  </div>
</div>
