<!-- 메뉴바 -->
<p-breadcrumb [model]="mainMenu.getBreadItems()"></p-breadcrumb>

<!-- Tabs -->
<div class="ui-g">
  <div class="ui-g-12 ui-g-nopad">
    <h3 style="font-weight: bolder;">
      <i class="pi pi-circle-off" aria-hidden="true"></i>&nbsp; {{ 'designGuide.tabView.tabTitle' | translate }}
    </h3>
  </div>
</div>

<div class="ui-g">
  <div class="ui-g-12 ui-g-nolr-pad">
    <p-tabView>
      <p-tabPanel header="Header 1">
        Content 1
      </p-tabPanel>
      <p-tabPanel header="Header 2" [closable]="true">
        Content 2
      </p-tabPanel>
      <p-tabPanel header="Header 3" [disabled]="true">
        Content 3
      </p-tabPanel>
    </p-tabView>
  </div>
</div>

<div class="ui-g">
  <div class="ui-g-12 ui-g-nopad">
    <br>
  </div>
</div>

<!-- Panel -->
<div class="ui-g">
  <div class="ui-g-12 ui-g-nopad">
    <h3 style="font-weight: bolder;">
      <i class="pi pi-circle-off" aria-hidden="true"></i>&nbsp; {{ 'designGuide.tabView.panelTitle' | translate }}
    </h3>
  </div>
</div>

<p-panel header="Panel Header" [toggleable]="true">
  Lorem Ipsum
</p-panel>

<div class="ui-g">
  <div class="ui-g-12 ui-g-nopad">
    <br>
  </div>
</div>

<!-- Accordion -->
<div class="ui-g">
  <div class="ui-g-12 ui-g-nopad">
    <h3 style="font-weight: bolder;">
      <i class="pi pi-circle-off" aria-hidden="true"></i>&nbsp; {{ 'designGuide.tabView.accordTitle' | translate }}
    </h3>
  </div>
</div>

<p-accordion [multiple]="true">
  <p-accordionTab header="Header 1">
    Content 1
  </p-accordionTab>
  <p-accordionTab header="Header 2">
    Content 2
  </p-accordionTab>
  <p-accordionTab header="Header 3">
    Content 3
  </p-accordionTab>
</p-accordion>