<div class="p-grid">
  <div class="p-col-12">
    <h3 style="font-weight: bolder;">
      <i class="pi pi-circle-off" aria-hidden="true"></i>&nbsp; {{ 'home.requireTitle' | translate }}
    </h3>
  </div>
</div>

<p-dataView [value]="programs">
  <p-header>Runtimes</p-header>
  <ng-template let-pgm pTemplate="listItem">
    <div class="p-col-12 p-mt-3 p-pl-3">
      <div class="p-grid">
        <div class="p-col-12 p-lg-4 p-sm-12">
          <div class="p-grid">
            <div class="p-col p-lg-3 p-sm-5">Name: </div>
            <div class="p-col p-lg-9 p-sm-7"><b>{{pgm.name}}</b></div>
          </div>
        </div>
        <div class="p-col-12 p-lg-8 p-sm-12">
          <div class="p-grid">
            <div class="p-col p-lg-3 p-sm-5">Version: </div>
            <div class="p-col p-lg-9 p-sm-7"><b>{{pgm.version}}</b></div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>

<div class="p-grid">
  <div class="p-col-12">
    <br>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-12">
    <h3 style="font-weight: bolder;">
      <i class="pi pi-circle-off" aria-hidden="true"></i>&nbsp; {{ 'home.mainPackTitle' | translate }}
    </h3>
  </div>
</div>

<p-dataView [value]="packages">
  <p-header>
    Main Packages
  </p-header>
  <ng-template let-pack pTemplate="listItem">
    <div class="p-col-12 p-mt-3 p-pl-3">
      <div class="p-grid">
        <div class="p-col-12 p-lg-4 p-sm-12">
          <div class="p-grid">
            <div class="p-col p-lg-3 p-sm-5">Name: </div>
            <div class="p-col p-lg-9 p-sm-7"><b>{{pack.name}}</b></div>
          </div>
        </div>
        <div class="p-col-12 p-lg-8 p-sm-12">
          <div class="p-grid">
            <div class="p-col p-lg-3 p-sm-5">Version: </div>
            <div class="p-col p-lg-9 p-sm-7"><b>{{pack.version}}</b></div>
          </div>
        </div>              
        <div class="p-col-12 p-lg-offset-4 p-lg-8 p-sm-12">
          <div class="p-grid">
            <div class="p-col p-lg-3 p-sm-5">Description: </div>
            <div class="p-col p-lg-9 p-sm-7"><b>{{pack.Description}}</b></div>
          </div>
        </div>        
      </div>
    </div>
  </ng-template>
</p-dataView>

<div class="p-grid">
  <div class="p-col-12">
    <br>
  </div>
</div>