<!-- 메뉴바 -->
<p-breadcrumb [model]="mainMenu.getBreadItems()"></p-breadcrumb>

<div class="ui-g">
  <div class="ui-sm-12 ui-md-12 ui-lg-12 ui-g-nopad">
    <h3 style="font-weight: bolder;">
      <i class="pi pi-circle-off" aria-hidden="true"></i>&nbsp; {{ 'samplePage.webBluetooth.bluetooth' | translate }}
    </h3>
  </div>
</div>

<div class="ui-g ui-fluid">
  <div class="ui-sm-12 ui-md-6 ui-lg-6">
    <button pButton type="button" (click)="getBatteryLevel()" label="Get Battery Level ({{batteryLevel || 'N/A'}}%)"></button>
  </div>
</div>