.carou-title {
    text-align: center;
    font-size: 2.3em;
    padding: 10px 0px 10px 0px;
    margin: 0px;
}

.carou-line-title {
    margin-top: 20px;
    background-color: #ffde00;
}

.carou-title-sub {
    font-weight: bolder;
    text-align: center;
    font-size: 3.5em;
    margin: 0px;
    padding: 10px 0px 10px 0px;    
}

.carou-title-sub-bar {    
    text-align: center;
    font-size: 2.5em;
    margin: 0px;
    padding-top: 10px;    
    font-family: 'barcode128';
}

.carou-title-sub-line {
    border: 1px solid #ffde00;
}

.carou-mid {
    font-weight: bolder;
    text-align: center;
    font-size: 2em;
    margin: 0px;
    padding: 10px 0px 10px 0px;
}

.carou-mid-line {
    margin-top: 20px;
    border: 1px solid #bbbcbc;
}

.carou-mid-col {    
    border: 1px solid #ffde00;
}

.carou-bottom {
    text-align: center;
    font-size: 1.7em;
    margin: 0px;
    padding: 10px 0px 10px 0px;
}

.carou-bottom-line {
    background-color: #eee;
    border: 1px solid #bbbcbc;
}

.carou-bottom-sub {
    text-align: center;
    font-size: 3em;
    margin: 0em;
    padding: 10px 0px 10px 0px;
}

.carou-bottom-sub-line {
    border: 1px solid #bbbcbc;
    margin-bottom: 20px;
}

.carou-margin {
    margin: 0px 10px 0px 10px;
}

.ui-dialog-ref {
    max-width: 100%;

    /* IE7-8 need help adjusting responsive images */
    width: auto\9;
  
    /* Part 2: Scale the height according to the width, otherwise you get stretching */
    height: auto;
  
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}