<!-- 메뉴바 -->
<p-breadcrumb [model]="mainMenu.getBreadItems()"></p-breadcrumb>

<div class="p-grid">
    <div class="p-col">
        <h3 style="font-weight: bolder;">
            <i class="pi pi-circle-off" aria-hidden="true"></i>&nbsp; {{ 'samplePage.pushCarousel.Carousel' | translate
            }}
        </h3>
    </div>
</div>

<p-carousel headerText="{{ 'samplePage.pushCarousel.header' | translate }}" [value]="items | async | desendSort"
    [breakpoint]=768 [numVisible]=3>
    <ng-template let-item pTemplate="item">
        <div class="p-grid carou-margin">
            <div class="p-col carou-line-title">
                <h2 class="carou-title">{{ 'samplePage.pushCarousel.header' | translate }}</h2>
            </div>
        </div>
        <div class="p-grid carou-margin">
            <div class="p-col carou-title-sub-line">
                <h1 class="carou-title-sub">{{item.trimNo}}</h1>
            </div>
        </div>
        <div class="p-grid carou-margin">
            <div class="p-col carou-title-sub-line">
                <h1 class="carou-title-sub-bar">{{item.trimNo}}</h1>
            </div>
        </div>
        <div class="p-grid carou-margin">
            <div class="p-col-12 carou-mid-col" [ngStyle]="{'background-color': item.carColor}">
                &nbsp;
            </div>
            <div class="p-col-4 carou-mid-line">
                <h2 class="carou-mid">{{item.model}}</h2>
            </div>
            <div class="p-col-4 carou-mid-line">
                <h2 class="carou-mid">{{item.diverLoc}}</h2>
            </div>
            <div class="p-col-4 carou-mid-line">
                <h2 class="carou-mid">{{item.destination}}</h2>
            </div>
        </div>
        <br>
        <div class="p-grid carou-margin">
            <div class="p-col carou-bottom-line">
                <h2 class="carou-bottom">S/W BZR</h2>
            </div>
            <div class="p-col carou-bottom-line">
                <h2 class="carou-bottom">R/Rack</h2>
            </div>
        </div>
        <div class="p-grid carou-margin">
            <div class="p-col carou-bottom-sub-line">
                <h1 class="carou-bottom-sub">{{item.swBzr}}</h1>
            </div>
            <div class="p-col carou-bottom-sub-line">
                <h1 class="carou-bottom-sub">{{item.rrack}}</h1>
            </div>
        </div>

    </ng-template>
</p-carousel>
<br>
<div class="p-grid">
    <div class="p-offset-7 p-col-4">
        <p-menu #menu [popup]="true" [model]="callLists"></p-menu>
        <button type="button" pButton label="Help Call" (click)="menu.toggle($event)" style="width: 100%"></button>
    </div>
</div>

<p-dialog header="{{ 'samplePage.pushCarousel.helpCall' | translate }}" [(visible)]="displayCall" [responsive]="true"
    showEffect="fade" [modal]="true" [baseZIndex]="9999">

    <div class="p-grid">
        <div class="p-col-12">
            <h1 style="text-align: center">정상적으로 호출하였습니다.</h1>
        </div>
        <div class="p-col-6">
            <h2 style="text-align: center">{{ callStation }}</h2>
        </div>
        <div class="p-col-6">
            <h2 style="text-align: center">{{ callType }}</h2>
        </div>
    </div>
    <div class="p-grid" style="margin-top: 10px;">
        <div class="p-offset-3 p-col-6">
            <button type="button" pButton (click)="dialogCallOk()" label="확인 OK!!" style="width: 100%">
                <fa-icon [icon]="faCheck"></fa-icon>
            </button>
        </div>
    </div>
</p-dialog>

<p-dialog header="{{ 'samplePage.pushCarousel.qualityCheck' | translate }}" [(visible)]="displayDialog" [responsive]="true"
    showEffect="fade" [modal]="true" [baseZIndex]="9999">

    <img class="ui-dialog-ref" [src]="imgUrl | async" />

    <div class="p-grid" style="margin-top: 10px;">
        <div class="p-offset-4 p-col-4">
            <button type="button" pButton (click)="dialogOk()" label="확인 OK!!" style="width: 100%">
                <fa-icon [icon]="faCheck"></fa-icon>
            </button>
        </div>
    </div>
</p-dialog>