.wrapper {
    display: flex;
    background: #fafafa;
    // height: 100vh;
    align-items: center;
    justify-content: center;
    // inexplicable/unknown extra space is rendered, causing scrollbars to show up 
    overflow: hidden;
  }