<!-- 메뉴바 -->
<p-breadcrumb [model]="mainMenu.getBreadItems()"></p-breadcrumb>

<!-- 메시지 -->
<p-growl [(value)]="msgs" [baseZIndex]="9999"></p-growl>

<div class="ui-g">
  <div class="ui-sm-12 ui-md-12 ui-lg-12 ui-g-nopad">
    <h3 style="font-family: 'RSMBold';">
      <i class="far fa-square" aria-hidden="true"></i>&nbsp; {{ 'samplePage.signPad.signature' | translate }}
    </h3>
  </div>
</div>

<div class="ui-g">
  <div class="ui-sm-12 ui-md-12 ui-lg-12">
    <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()">
    </signature-pad>
  </div>
</div>

<div class="ui-g ui-fluid">
  <div class="ui-g ui-sm-6 ui-md-3 ui-lg-3">
    <button pButton type="button" label="{{ 'samplePage.signPad.clear' | translate }}" (click)="drawClear();"></button>
  </div>
</div>

<div class="ui-g">
  <div class="ui-sm-12 ui-md-12 ui-lg-12">
    <h3 style="font-family: 'RSMBold';">
      <i class="far fa-square" aria-hidden="true"></i>&nbsp; {{ 'samplePage.signPad.signImage' | translate }}
    </h3>
  </div>
</div>

<div class="ui-g ui-fluid" *ngIf="signImage">
  <div class="ui-sm-12 ui-md-12 ui-lg-12">
    <img style="width: 100%; height: 100%;" [src]="signImage" />
  </div>
  <div class="ui-sm-6 ui-md-3 ui-lg-3">
    <button pButton type="button" label="{{ 'samplePage.signPad.fileSave' | translate }}" (click)="drawSave();"></button>
  </div>
</div>