<!-- 메뉴바 -->
<p-breadcrumb [model]="mainMenu.breadItems"></p-breadcrumb>

<!-- 차트 -->
<div class="p-grid">
  <div class="p-col">
    <h3 style="font-weight: bolder;">
      <i class="pi pi-circle-off" aria-hidden="true"></i>&nbsp; {{ 'samplePage.chartForm.departStatus' | translate }}
    </h3>
  </div>
</div>
<p-chart type="bar" [data]="dataDepChart"></p-chart>

<div class="p-grid">
  <div class="p-col">
    <h3 style="font-weight: bolder;">
      <i class="pi pi-circle-off" aria-hidden="true"></i>&nbsp; {{ 'samplePage.chartForm.jobStatus' | translate }}
    </h3>
  </div>
</div>
<p-chart type="pie" [data]="dataJobChart"></p-chart>
