<!-- 메뉴바 -->
<p-breadcrumb [model]="mainMenu.breadItems"></p-breadcrumb>

<!-- Buttons -->
<div class="p-grid">
  <div class="p-col">
    <h3 style="font-weight: bolder;">
      <i class="pi pi-circle-off" aria-hidden="true"></i>&nbsp; {{ 'designGuide.btnLib.buttonTitle' | translate }}
    </h3>
  </div>
</div>

<div class="p-grid">
  <div class="p-col p-lg-4 p-md-4 p-sm-12">
    <button pButton type="button" label="Primary"></button>
    <button pButton type="button" [disabled]="true" label="Primary Disabled"></button>
  </div>
  <div class="p-col p-lg-4 p-md-4 p-sm-12">
    <button pButton type="button" label="Secondary" class="p-button-secondary"></button>
    <button pButton type="button" [disabled]="true" label="Secondary Disabled" class="p-button-secondary"></button>
  </div>
  <div class="p-col p-lg-4 p-md-4 p-sm-12">
    <button pButton type="button" label="Ternary" class="p-button-ternary"></button>
    <button pButton type="button" [disabled]="true" label="Ternary Disabled" class="p-button-ternary"></button>
  </div>
</div>

<div class="p-grid">
  <div class="p-col">
    <br>
  </div>
</div>

<!-- Action Buttons -->

<div class="p-grid">
  <div class="p-col">
    <h3 style="font-weight: bolder;">
      <i class="pi pi-circle-off" aria-hidden="true"></i>&nbsp; {{ 'designGuide.btnLib.actTitle' | translate }}
    </h3>
  </div>
</div>

<div class="p-grid">
  <div class="p-col p-lg-4 p-md-4 p-sm-6">
    <button pButton pRipple type="button" icon="pi" class="p-button-rounded">
      <fa-icon [icon]="faAngleRight" size="2x"></fa-icon>
    </button>
    <button pButton pRipple type="button" icon="pi" [disabled]="true" class="p-button-rounded">
      <fa-icon [icon]="faAngleRight" size="2x"></fa-icon>
    </button>
  </div>
  <div class="p-col p-lg-4 p-md-4 p-sm-6">
    <button pButton pRipple type="button" icon="pi" class="p-button-rounded p-button-secondary">
      <fa-icon [icon]="faAngleRight" size="2x"></fa-icon>
    </button>
    <button pButton pRipple type="button" icon="pi" [disabled]="true" class="p-button-rounded p-button-secondary">
      <fa-icon [icon]="faAngleRight" size="2x"></fa-icon>
    </button>
  </div>
  <div class="p-col p-lg-4 p-md-4 p-sm-12">
    <a href="#" class="p-links">Lorem Ipsum</a>
  </div>
</div>

<div class="p-grid">
  <div class="p-col">
    <br>
  </div>
</div>

<!-- Select Button -->

<div class="p-grid">
  <div class="p-col">
    <h3 style="font-weight: bolder;">
      <i class="pi pi-circle-off" aria-hidden="true"></i>&nbsp; {{ 'designGuide.btnLib.selBtnTitle' | translate }}
    </h3>
  </div>
</div>

<div class="p-grid">
  <div class="p-col p-lg-6 p-md-6 p-sm-12">
    <p-selectButton [options]="types" [(ngModel)]="selectedType"></p-selectButton>
  </div>
</div>

<div class="p-grid">
  <div class="p-col">
    <br>
  </div>
</div>

<!-- Split Button -->

<div class="p-grid">
  <div class="p-col">
    <h3 style="font-weight: bolder;">
      <i class="pi pi-circle-off" aria-hidden="true"></i>&nbsp; {{ 'designGuide.btnLib.splBtnTitle' | translate }}
    </h3>
  </div>
</div>

<div class="p-grid">
  <div class="p-col p-lg-6 p-md-6 p-sm-12">
    <p-splitButton label="Save" [model]="items"></p-splitButton>
  </div>
</div>

<div class="p-grid">
  <div class="p-col">
    <br>
  </div>
</div>

<!-- File Upload -->

<div class="p-grid">
  <div class="p-col">
    <h3 style="font-weight: bolder;">
      <i class="pi pi-circle-off" aria-hidden="true"></i>&nbsp; {{ 'designGuide.btnLib.fileUploadTitle' | translate }}
    </h3>
  </div>
</div>

<p-fileUpload name="demo[]" (onUpload)="onUpload($event)" multiple="multiple">
  <ng-template pTemplate="content">
    <ul *ngIf="uploadedFiles.length">
      <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
    </ul>
  </ng-template>
</p-fileUpload>