<!-- 메뉴바 -->
<p-breadcrumb [model]="mainMenu.getBreadItems()"></p-breadcrumb>

<div class="ui-g">
  <div class="ui-sm-12 ui-md-12 ui-lg-12 ui-g-nopad">
    <h3 style="font-family: 'RSMBold';">
      <i class="fa fa-square-o" aria-hidden="true"></i>&nbsp; {{ 'helpAdvice.designLayout.loginTitle' | translate }}
    </h3>
  </div>
</div>

<div class="ui-g">
  <div class="ui-sm-12 ui-md-12 ui-lg-12 ui-g-nolr-pad">
    <img src="assets/images/img_login.png" style="width: 100%; height: auto;">
  </div>
</div>

<div class="ui-g">
  <div class="ui-sm-12 ui-md-12 ui-lg-12 ui-g-nopad">
    <br>
  </div>
</div>

<div class="ui-g">
  <div class="ui-sm-12 ui-md-12 ui-lg-12 ui-g-nopad">
    <h3 style="font-family: 'RSMBold';">
      <i class="fa fa-square-o" aria-hidden="true"></i>&nbsp; {{ 'helpAdvice.designLayout.layPcTitle' | translate }}
    </h3>
  </div>
</div>

<div class="ui-g">
  <div class="ui-sm-12 ui-md-12 ui-lg-12 ui-g-nolr-pad">
    <img src="assets/images/img_layout_pc.png" style="width: 100%; height: auto;">
  </div>
</div>

<div class="ui-g">
  <div class="ui-sm-12 ui-md-12 ui-lg-12 ui-g-nopad">
    <br>
  </div>
</div>

<div class="ui-g">
  <div class="ui-sm-12 ui-md-12 ui-lg-12 ui-g-nopad">
    <h3 style="font-family: 'RSMBold';">
      <i class="fa fa-square-o" aria-hidden="true"></i>&nbsp; {{ 'helpAdvice.designLayout.layMTitle' | translate }}
    </h3>
  </div>
</div>

<div class="ui-g">
  <div class="ui-sm-12 ui-md-12 ui-lg-12 ui-g-nolr-pad">
    <img src="assets/images/img_layout_m.png" style="width: 65%; height: auto;">
  </div>
</div>

<div class="ui-g">
  <div class="ui-sm-12 ui-md-12 ui-lg-12 ui-g-nopad">
    <br>
  </div>
</div>

<div class="ui-g">
  <div class="ui-sm-12 ui-md-12 ui-lg-12 ui-g-nopad">
    <h3 style="font-family: 'RSMBold';">
      <i class="fa fa-square-o" aria-hidden="true"></i>&nbsp; {{ 'helpAdvice.designLayout.img404Title' | translate }}
    </h3>
  </div>
</div>

<div class="ui-g">
  <div class="ui-sm-12 ui-md-12 ui-lg-12 ui-g-nolr-pad">
    <img src="assets/images/img_404.png" style="width: 100%; height: auto;">
  </div>
</div>

<div class="ui-g">
  <div class="ui-sm-12 ui-md-12 ui-lg-12 ui-g-nopad">
    <br>
  </div>
</div>